<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhongtai.dao.DepartmentMapper">
    <select id="selectDepartment" resultType="Department">
        SELECT * FROM department
        <if test="id!=null">
            WHERE id = #{id}
        </if>;
    </select>

    <insert id="insertDepartment" parameterType="Department">
        INSERT INTO department(name)
        VALUES(#{name});
    </insert>

    <update id="updateDepartment" parameterType="Department">
        UPDATE department
        SET name = #{name}
        WHERE id = #{id};
    </update>

    <delete id="deleteDepartment">
        DELETE FROM department
        WHERE id = #{id};
    </delete>

</mapper>